form.menuBusca.jumbotron.jumbotron-fluid.ng-pristine.ng-valid,
form.menuBusca.jumbotron.jumbotron-fluid.ng-valid.ng-dirty.ng-valid-parse {
    padding: 15px;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 1px;
}

form.menu-tabela{
    padding: 15px;
    vertical-align: middle;
    padding-bottom: 1px;
}

#opcoes-tabela{
    margin-top: 5em;
}

.seletores select{
    margin-left: 3em;
}

.compartilhamento{
    display: inline-flex;
}

a:link {
    color: black; 
}

.right{
    display: inline-block;
    margin-left: 40%;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#zoom{
    background-color: black;
    color: white;
}

thead{
    background: #ededed;
    cursor: pointer;
}

th{
    border-right: 2px solid white;
}

.resultados tr th:nth-child(2),
.resultados tr th:nth-child(4),
.resultados tr th:nth-child(6) {
  background: #fafafa;
}